.ArraySorter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 94fr;
    grid-template-areas: "header" "main";
    justify-items: center;
}


.ArraySorter .PageHeader {
    grid-area: "header";

    min-width: 100vw;
    background-color: var(--text-light-gray);
    color: var(--background-white);


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: "header";
    justify-items: center;
}

.ArraySorter .Sorter {
    grid-area: "main";

    background-color: var(--background-white);
    max-width: min(90vw, 1000px);
    min-height: 94vh;
    padding-left: max(5vw, 10px);
    padding-right: max(5vw, 10px);
}

.ArraySorter .Sorter .ControlPanel {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ArraySorter .Sorter .ControlPanel .Button {

    margin: 0;
    padding-left: auto;
    padding-right: auto;
    
    background-size: 500% 500% !important;
    background-position: center !important;
   
}

.ArraySorter .Sorter .Status {
    min-height: 7vh;
    text-align: center;
    text-justify: center;
}