.ArraySorter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 94fr;
    grid-template-areas: "header" "main";
    
    justify-items: center;
}

.ArraySorter .PageHeader {
    grid-area: header;

    min-width: 100vw;

    display: flex;
    justify-content: center;

    background-color: var(--text-light-gray);
    color: var(--background-white);
}

.ArraySorter .Sorter {
    grid-area: main;
    
    width: min(90vw, 1000px);
    min-height: 94vh;
    padding-left: max(5vw, 10px);
    padding-right: max(5vw, 10px);

    background-color: var(--background-white);
}

.ArraySorter .Sorter .ControlPanel {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    min-height: 3vh;
}

.ArraySorter .Sorter .ControlPanel .Button {
    margin: 0;
    
    background-size: 500% 500% !important;
    background-position: center !important;
   
    font-size: min(2vh, 2rem);
}

.ArraySorter .Sorter .ArrayManager {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.ArraySorter .Sorter .ArrayManager .Button {
    margin: 0;
    
    background-size: 500% 500% !important;
    background-position: center !important;
    
    font-size: min(2vh, 2rem);
}

/* TODO implement this somewhere else */

.ArraySorter .Sorter .Status {
    min-height: 7.5vh;
    
    display: flex;
    justify-content: center;
    
}

.ArraySorter .Sorter .Status h1 {
    text-align: center;
    align-self: center;
    margin: 0;
}

.ArraySorter .Sorter .About, .Implementation {
    font-size: 1.6rem;
    margin: 0;
}

.ArraySorter .Sorter .Implementation pre, .About p {
    margin-top: 0;
}

.ArraySorter .Sorter .About p {
    text-align: justify;
}

.ArraySorter .Sorter .Implementation h3, .About h3  {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
}