.Bar {
    margin: 10px;
    padding: 0;
    border: 0;

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Bar:hover {
    /* Ensures the bars are always responsive on hover */
    background-image: url('./icons/bar-selected-blue.svg') !important;
}