.Button {
    border: 0;
    padding: 10px;
    margin: 0;
    background-size: 100% 100% !important;
    font-size: min(3rem, 5vw);
    transition: 150ms;
}

.Button:hover {
    cursor: pointer;
    background: url('icons/button-pressed-orange-3x1.svg') top !important;
    background-size: 100% 100% !important;
}

.Button:hover span {
    position: relative;
    
    bottom: 5%;
    left: 2.5%;
}