.Header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "title back";
    background-color: var(--text-light-gray);
    min-width: min(95vw, min(90vw, 1000px) + max(10vw, 20px));
}

.Header a {
    grid-area: back;
    
    text-align: left;
    text-decoration: none;
    justify-self: right;
    align-self: center;
    color: var(--background-white);
}

.Header h1 {
    grid-area: title;
    color: var(--background-white);
    align-self: center;
    justify-self: left;
    margin: 0;
    font-size: 4vh;
}