.RedirectButton {
    border: 0;

    background: url('icons/button-gray-3x1.svg') center;
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;

    font-size: min(3rem, 5vw);
    color: var(--background-white);
    transition: 150ms;

    text-decoration: none;

    display: flex;
    align-content: center;
    justify-content: center;
}

.RedirectButton span {
    align-self: center;
    justify-self: center;
}

.RedirectButton:hover {
    cursor: pointer;
    background: url('icons/button-pressed-orange-3x1.svg') top;
    background-size: 100% 100%;
}

.RedirectButton:hover span {
    position: relative;
    
    bottom: 5%;
    left: 2.5%;
}