.About {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 94fr;
    grid-template-areas: "header" "main";
    justify-items: center;
}

.About .PageHeader {
    grid-area: header;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--text-light-gray);
    color: var(--background-white);
}

.About .TextContainer {
    grid-area: main;
    width: min(90vw, 1000px);
    min-height: 94vh;
    padding-left: max(5vw, 10px);
    padding-right: max(5vw, 10px);
    background-color: var(--background-white);
}