.container {
    background-color: var(--background-white);
    max-width: min(90vw, 1000px);
    min-height: 100vh;
    padding-left: max(5vw, 1rem);
    padding-right: max(5vw, 1rem);
    border: 0;
    border-style: solid;
    border-color: var(--icon-orange)
}

.container .text-container {
    text-align: center;
}

.container .text-container strong {
    font-size: min(8rem, 15vw);
    color: var(--text-dark-gray);
}

.container .text-container p {
    margin-top: min(1rem, 1vh);

    font-size: min(2rem, 3vw);
    color: var(--text-light-gray);
}

.container .logo-container img {
    display: block;
    
    width: min(90vw, 700px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
}

.container .button-container {
    display: flex;
    justify-content: center; 
}

.container .button-container Button {
    height: min(6rem, 10vw);
    width: min(300px, 45vw);
    margin: min(1vw, 20px);
    border: 0;
    
    font-size: min(3rem, 5vw);
    color: var(--background-white);
    background-color: var(--bar-light-gray);
    transition: background, color .1s;
}

.container .button-container Button:hover {
    background-color: var(--confirmation-green);
}