.container {
    background-color: var(--background-white);
    max-width: min(90vw, 1000px);
    min-height: 100vh;
    padding-left: max(5vw, 1rem);
    padding-right: max(5vw, 1rem);
}

.container .text-container {
    text-align: center;
}

.container .text-container strong {
    font-size: min(8rem, 15vw);
    color: var(--text-dark-gray);
}

.container .text-container p {
    margin-top: min(1rem, 1vh);

    font-size: min(2rem, 4vw);
    color: var(--text-light-gray);
}

/* TODO implement in bottom bar component */
.container footer {
    width: 75%;
    height: 10px;
    background-size: 100% 100%;
    padding-top: min(10vh, 3px);
    padding-bottom: min(10vh, 3px);
}

.container .button-container {
    display: flex;
    justify-content: center; 
}

.container .button-container .Button {
    height: min(100px, 15vw);
    width: min(300px, 45vw);
    margin: min(1vw, 20px);
}