.logo-container {
    align-items: center;
}

.logo-container img {
    width: 90vw;
    padding-top: 5vh;
    max-width: 700px;
}

.text-container {
    text-align: center;
    max-width: 700px;
}

.text-container strong {
    font-size: 8rem;
    color: var(--text-dark-gray);
}

.text-container p {
    font-size: 2rem;
    color: var(--text-light-gray);
}