.Bar {
    margin: 10px;
    padding: 0;
    border: 0;

    background-image: url('./images/button-gray-3x1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.Bar:hover {
    background-image: url('./images/button-pressed-orange-3x1.svg');
}