Button {
    border: 0;

    background: url('images/gray-button3x1.png') center;
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;

    font-size: min(3rem, 5vw);
    color: var(--background-white);
    transition: 150ms;
}

Button:hover {
    cursor: pointer;
    background: url('images/orange-button-pressed-3x1.png') center;
    background-size: 100% 100%;
}

Button:hover span {
    position: relative;
    bottom: 5px;
    left: 5px;
}