.ArraySorter .Sorter .implementation, .about {
    font-size: min(1.7vh, 1.7rem);
}

.ArraySorter .Sorter .about {
    text-align: justify;
}

.ArraySorter .Sorter .implementation h3, .about h3  {
    font-size: min(2vh, 2rem);
    margin-bottom: 0;
    margin-top: 2rem;
}

.ArraySorter .Sorter .about p, ul  {
    margin-top: 0.2rem;
}

.ArraySorter .Sorter .implementation pre {
    white-space: pre-wrap;
    margin-top: 0.2rem;
}