:root {
    --background-white: #F4F4F4;
    --background-gray: #DADADA;
    --bar-light-gray: #3A3535; 
    --bar-dark-gray: #322F2F;
    --text-light-gray: #232020;
    --text-dark-gray: #0F0D0D;
    --icon-orange: #FF7315;
    --confirmation-green: #1BC700;
    --comparation-blue: #1905B3;
}

body {
  font-style: Roboto;
  background-image: url('images/background.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 50vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}